# Dependencies
node_modules

# Build output
dist

# Prisma
prisma/migrations/

# Local env files
.env
.env.local
.env.*.local

# Editor
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
